# docker compose file for testing purposes, 
# betterjenkins is best run on Kubernetes with multiple executors

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes: 
      - db:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/create_tables.sql
  server:
    image: tj1997/betterjenkins:server
    build: controller/.
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: betterjenkins
    ports:
      - "127.0.0.1:8080:8080"
    links:
      - db
  # executor:
  #   image: betterjenkins:executor
  #   build: executor/.
  #   depends_on:
  #     - server
  #     - db
  #   environment:
  #     DB_HOST: db
  #     DB_USER: postgres
  #     DB_PASSWORD: postgres
  #     DB_NAME: postgres
  #   links:
  #     - db
volumes:
  db:
    driver: local
networks:
