name: docker-build-and-push

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push executor
        uses: docker/build-push-action@v4
        working-directory: ./executor
        with:
          push: true
          tags: tj1997/betterjenkins:executor
      - name: Build and push server
        uses: docker/build-push-action@v4
        working-directory: ./controller
        with:
          push: true
          tags: tj1997/betterjenkins:executor